@font-face {
    font-family: 'Futura Extra Bold';
    src: url('fonts/Futura-ExtraBold.otf') format('opentype');
}
  
  body {
    background-color: #002a42;
    color: #c40003;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  #lyrics {
    font-family: 'Futura Extra Bold';
    white-space: pre-line;
    font-size: 30px;
    text-align: center;
  }
  